body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;
}

h1 {
    font-size: 2em;
    padding: 1rem;
}

h2 {
    font-size: 1.8em;
    padding: 1rem;
}

h3 {
    font-size: 1.5rem;
    padding: 1rem;
}

h4 {
    font-size: 1.3rem;
    padding: 1rem;
}

h5 {
    font-size: 0.7rem;
    padding: 1rem;
}

h6 {
    font-size: 0.5rem;
    padding: 1rem;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
    line-height: 1.5em; 
}

img { 
    max-width: 100%; 
    height: auto; 
}

button {
}

.wrapper {
    max-width: 100%;
    display: grid;
    margin: 0; auto;
    
/*  fr = fraction   */
    grid-template-columns: repeat(12, 1fr);

/*  1st number is height, 2nd number is how big it can get  */    
    grid-auto-rows: minmax(100px, auto);

    grid-column-gap: 5em;

    grid-template-areas:
        "h h h h h h h h h h h ."
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";

}

.header {
    grid-area: h;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main {
    grid-area: m;
    padding: 0%, auto;
    margin: 0%, 6rem;
    justify-content: center;
    align-items: center;

}

.footer {
    grid-area: f;
    background-color: rgb(60, 60, 60);
    display: flex;
    padding-top: 2rem;
    text-decoration: none;
    color: blanchedalmond;

}
/*Social media icons copied from w3Schools*/
.fa {
    border-radius: 50%;
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


/* Target max screen width*/
@media (max-width: 500px) {
    .header {
       display: flex;
    }
    .footer {
        max-height: auto;
        display: flex;

    }
}

/* Target screen max width 400px */
@media (max-width: 27.813em) {
    .wrapper {
        grid-template-areas:
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";

    }
}


header h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: inline-block;
}

header img {
    max-width: 50%;
    height: auto;
}

nav {
    display: inline-block;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-left: 6rem;
}

.nav {
    text-decoration: none;
    color: black;
}

/* Give the footer a distinct colour*/
.footer {
    background-color: rgb(60, 60, 60);
    display: flex;
    color: blanchedalmond;
}



/* style and resize footer logo*/
footer img {
    padding: 1rem;
    max-width: 25%;
    max-width: auto;
}

footer ul li a {
    color:blanchedalmond;
    margin: 1rem;
}


/*.heroImage {
    background-image: url("assets/lakeBG.jpg");
    background-image: linear-gradient (rgba(0, 0, 0, 0.5,) rgba(0, 0, 0, 0.5);
    max-width: 100%;
    max-height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}*/

.heroImage h1 h2 p button {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: blanchedalmond;
}

.covid img {
    max-width: 50%;
    max-height: auto;
}

